<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Mania</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>

<section id='home'>
    <nav>
        <div class="nav-container">
            <h1>Art Mania</h1>
            <ul class="nav-links">
                <% if(!user){ %>
                    <li><a href="/artworks">Home</a></li>
                    <li><a href="/user/login">Login</a></li>
                    <li><a href="/user/register">Sign Up</a></li>
                <% } else { %>
                    <li><a href="/artworks">Home</a></li>
                    <li><a href="/user/dashboard">Dashboard</a></li>
                    <li><a href="/user/logout">Log out</a></li>
                    <% } %>
            </ul>
        </div>
    </nav>

    <div class="home-image">
        <% if(!user){ %>
            <h1>Artworks</h1>
        <% } else { %>
            <h1>Hello <%=user.firstName%>!</h1>
            <% } %>
            <p>Post your own work and get feedback!</p>
            <button><a href="/artworks/new">Submit</a></button>
    </div>

   

</section>
