<%- include("partials/header") %>



<div class="form-container">
    <form action="/artworks" method="post">
        <div>
            <label for="title">Title</label>
            <input type="text" name="title" id="title">
        </div>
        <div>
            <label for="thumbnail">Thumbnail</label>
            <input type="url" name="thumbnail" id="thumbnail">
        </div>
        <div>
            <label for="desc">Description</label>
            <input type="text" name="desc" id="desc">
        </div>
        <div>  
            <label for="name">Your Name</label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label for="Image">Your Image</label>
            <input type="text" name="image" id="image">
        </div>
        <button class="slide"><a>Submit</a></button>
    </form>
</div>
<%- include("partials/footer") %>

