@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');

@mixin bgImage {
	background-repeat: no-repeat;
	background-size: cover;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(235, 235, 235);
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.artworks-container {
	margin: 100px auto;
	width: 70%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 70px;

	.card {
		position: relative;
		font-weight: 300;
		overflow: hidden;
		width: 250px;
		height: 320px;
		justify-items: center;
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.10);
		.card-img {
			@include bgImage();
			height: 40%;
			width: 100%;
		}

		.card-author {
			height: auto;
			width: 100%;
			box-shadow: 0px 2px 15px 5px rgba(0, 0, 0, 0.07);
			display: flex;
			align-items: center;
			padding: 10px 15px;
			.author-img {
				@include bgImage();
				height: 40px;
				width: 40px;
				border-radius: 50%;
				overflow: hidden;
				margin-right: 20px;
			}

			h4 {
				font-weight: 400;
			}
		}

		.card-body {
			padding: 15px;

			h3 {
				margin-bottom: 8px;
			}
		}

		.more {
			position: absolute;
			bottom: 0;
			right: 0;
			margin: 10px;

			i {
				color: rgb(155, 14, 68);
			}
		}
	}
}

.form-container {
	margin: 150px auto;
	width: 40%;
}
.form {
	.slide {
		margin-top: 20px;
	}
	display: flex;
	justify-content: center;
}
form div {
	margin: 20px 0;
	width: 90%;

	label {
		margin-bottom: 10px;
		font-size: 18px;
		color: black;
		display: block;
	}
	input {
		padding: 20px;
		height: 52px;
		background: none;
		color: black;
		border: none;
		font-size: 18px;
		border: 1px solid rgb(182, 182, 182);
		border-radius: 5px;
		width: 100%;
		box-shadow: none;
	}
}

.slide {
	margin-top: 10px;
	border: 2px solid rgb(155, 14, 68);
	border-radius: 30px;
	padding: 5px 15px;
	background-color: rgba(#000000, $alpha: 0);
	transition: all .3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -2;
	}
	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		height: 100%;
		background-color: rgb(155, 14, 68);
		transition: all .3s;
		z-index: -1;
	}
	&:hover {
		a {
			color: white;
		}
		&:before {
			width: 100%;
		}
	}
	a {
		font-size: 18px;
		text-decoration: none;
		color: black;
	}
}
