@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');

@mixin bgImage {
	background-repeat: no-repeat;
	background-size: cover;
}

$primary: rgb(155, 14, 68);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
	background-color: rgb(243, 243, 243);
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.artworks-container {
	margin: 100px auto;
	width: 60%;
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 70px;
}

.card {
	position: relative;
	font-weight: 300;
	overflow: hidden;
	width: 250px;
	height: 320px;
	justify-items: center;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.10);
	.card-img {
		@include bgImage();
		height: 40%;
		width: 100%;
	}

	.card-author {
		height: auto;
		width: 100%;
		box-shadow: 0px 2px 15px 5px rgba(0, 0, 0, 0.07);
		display: flex;
		align-items: center;
		padding: 10px 15px;
		.author-img {
			@include bgImage();
			height: 40px;
			width: 40px;
			border-radius: 50%;
			overflow: hidden;
			margin-right: 20px;
		}

		h4 {
			font-weight: 400;
		}
	}

	.card-body {
		padding: 15px;

		h3 {
			margin-bottom: 8px;
		}
	}

	.more {
		position: absolute;
		bottom: 0;
		right: 0;
		margin: 10px;

		i {
			color: $primary;
		}
	}
}

.form-container {
	margin: 150px auto;
	width: 40%;
}
.form {
	.slide {
		margin-top: 20px;
	}
	display: flex;
	justify-content: center;
}
form div {
	margin: 20px 0;
	width: 90%;

	label {
		margin-bottom: 10px;
		font-size: 18px;
		color: black;
		display: block;
	}
	input {
		padding: 20px;
		height: 52px;
		background: none;
		color: black;
		border: none;
		font-size: 18px;
		border: 1px solid rgb(182, 182, 182);
		border-radius: 5px;
		width: 100%;
		box-shadow: none;
	}
}

.slide {
	margin-top: 10px;
	border: 2px solid $primary;
	border-radius: 30px;
	padding: 5px 15px;
	background-color: rgba(#000000, $alpha: 0);
	transition: all .3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -2;
	}
	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		height: 100%;
		background-color: $primary;
		transition: all .3s;
		z-index: -1;
	}
	&:hover {
		a {
			color: white;
		}
		&:before {
			width: 100%;
		}
	}
	a {
		font-size: 18px;
		text-decoration: none;
		color: black;
	}
}

nav {
	position: fixed;
	top: 0;
	width: 100%;
}

.nav-container {
	margin: 0 auto;
	height: 90px;
	display: flex;
	width: 55%;
	justify-content: space-between;
	align-items: center;
	color: white;

	h1 {
		font-size: 30px;
	}
	.nav-links {
		width: 30%;
		display: flex;
		justify-content: space-between;

		li {
			list-style-type: none;

			a {
				text-decoration: none;
				color: white;
				transition: 0.2s;
				&:hover {
					color: $primary;
				}
			}
		}
	}
}

#home {
	font-family: 'Montserrat', sans-serif;
	height: 500px;

	.home-image {
		height: 100%;
		background: linear-gradient(0deg, rgba(155, 14, 68, 0.8), rgba(155, 14, 68, 0.6)),
			url('https://images.unsplash.com/photo-1501084817091-a4f3d1d19e07?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80')
				no-repeat center;
		background-size: cover;

		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		color: white;
		h1 {
			font-size: 48px;
		}

		p {
			margin: 20px 0;
		}

		button {
			transition: 0.3s;
			background-color: rgba(155, 14, 68, 1);
			padding: 10px 30px;
			border: none;
			border-radius: 20px;

			&:hover {
				background-color: white;
				a {
					color: rgba(155, 14, 68, 1);
				}
			}
			a {
				text-decoration: none;
				color: white;
				font-size: 15px;
			}
		}
	}
}

.show-artwork {
	width: 60%;
	margin: 100px auto;
	height: auto;
	box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.10);
	background-color: rgb(255, 255, 255);
	.artwork-image {
		background-size: cover;
		background-repeat: no-repeat;
		height: 700px;
		width: 100%;
	}
	a {
		.fa-edit {
			font-size: 24px;
			color: rgb(55, 216, 33);
		}
	}

	.comments-container {
		width: 95%;
		padding: 15px;
		margin: 0 auto;
	}
	.com-text {
		display: flex;
		justify-content: space-between;
		padding: 15px;

		h2 {
			font-weight: 300;
		}
	}

	.comment {
		position: relative;
		margin: 20px 0px;
		padding: 25px 10px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.3);
		display: flex;
		align-items: center;

		img {
			height: 55px;
			width: 55px;
			border-radius: 50%;
		}

		.comment-body {
			margin-left: 20px;
		}
		.comment-author {
			display: flex;
			margin-bottom: 10px;
			align-items: center;
			p {
				margin-left: 10px;
				font-weight: 100;
			}
		}
		.formButtons {
			position: absolute;
			bottom: 0;
			right: 0;
			background-color: rgba($color: #000000, $alpha: 0);
			border: none;
			padding: 10px;

			.fa-trash-alt {
				font-size: 18px;
				color: rgb(211, 43, 43);
			}
		}
	}

	.simpleBtn {
		margin-top: 15px;
		padding: 8px 15px;
		background-color: $primary;
		border: none;
		border-radius: 20px;
		color: white;
		font-size: 14px;
		transition: 200ms;
		&:hover {
			background-color: rgb(116, 16, 16);
			transform: scale(1.1);
		}
	}

	.comment-form,
	.edit-comment-form {
		display: flex;
		padding: 20px;
		flex-direction: column;
		align-items: start;
		justify-content: start;
		border-left: 5px solid $primary;

		textarea {
			margin-top: 15px;
			display: block;
			width: 100%;
			height: calc(10rem + 2px);
			padding: .375rem .75rem;
			font-size: 1rem;
			font-weight: 400;
			line-height: 1.5;
			color: #495057;
			background-color: #fff;
			background-clip: padding-box;
			border: 1px solid #ced4da;
			border-radius: .25rem;
			transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
		}
	}

	.edit-comment-form {
		margin-left: 20px;
		border-left: 5px solid rgb(55, 216, 33);

		.simpleBtn {
			background-color: rgb(55, 216, 33);
		}
	}

	.show-body {
		display: flex;
		width: 100%;
		box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.05);
		.show-author {
			z-index: 1;
			flex-direction: column;
			display: flex;
			justify-content: center;
			padding: 20px 40px;
			text-align: center;
			h3 {
				margin-top: 10px;
				font-weight: 300;
			}
		}

		.show-text {
			position: relative;
			width: 100%;
			padding: 20px 40px;
			background-color: white;

			h1 {
				margin-bottom: 10px;
			}
			button {
				position: absolute;
				bottom: 0;
				right: 0;
				background-color: rgba($color: #000000, $alpha: 0);
				border: none;
				padding: 10px;

				.fa-trash-alt {
					font-size: 24px;
					color: rgb(211, 43, 43);
				}
			}
		}
		img {
			border-radius: 50%;
			height: 150px;
			width: 150px;
		}
	}
	.fa-edit {
		font-size: 18px;
		color: rgb(55, 216, 33);
	}
}

.dashboard {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 100px auto;
	margin: 100px auto;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 70px;

	.card {
		width: 350px;
		.card-img {
			height: 70%;
		}
	}
	.user-card {
		height: max-content;
		text-align: center;
		padding: 25px;
		box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.10);
		width: 15%;
		background-color: white;
		.user-body {
			div {
				width: 100%;
				margin-bottom: 15px;
				padding: 10px 0px;
				box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.02);

				h4 {
					font-weight: 300;
				}

				h3 {
					font-weight: 400;
				}
			}
		}

		img {
			background-size: cover;
			background-repeat: no-repeat;
			width: 200px;
			height: 200px;
			border-radius: 50%;
			margin-bottom: 5px;
		}
	}

	.user-artworks {
		text-align: center;
		width: 80%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);

		.card-body {
			height: 30%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

.burger {
	display: none;
	div {
		transition: all 0.4s ease;
		width: 25px;
		height: 3px;
		background-color: white;
		margin: 5px;
	}
}

.burgerAnim {
	div {
		background-color: white !important;
	}
	.line-1 {
		transform: rotate(-45deg) translate(-5px, 6px);
	}
	.line-2 {
		opacity: 0;
	}
	.line-3 {
		transform: rotate(45deg) translate(-5px, -6px);
	}
}

.nav-active {
	width: 100vw !important;
	display: flex !important;
}
@media all and(min-width:2900px) {
}

@media all and(max-width:1750px) {
	.dashboard .user-card img {
		width: 100px;
		height: 100px;
	}
	.dashboard .user-artworks {
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
	}
}

@media all and(max-width:1500px) {
	.artworks-container {
		width: 90%;
		grid-template-columns: repeat(3, 1fr);
	}
	.nav-container {
		width: 80%;

		.nav-links {
			width: 50%;
		}
	}

	.dashboard .user-card img {
		width: 100px;
		height: 100px;
	}
}
@media all and(max-width:1050px) {
	.artworks-container {
		width: 100%;
		grid-template-columns: repeat(2, 1fr);
	}

	.nav-container {
		width: 90%;

		.nav-links {
			width: 50%;
		}
	}
	.dashboard .user-artworks {
		grid-template-columns: repeat(1, 1fr);
		row-gap: 100px;
		justify-items: center;
	}

	.dashboard {
		.user-card {
			width: 35%;
		}
	}
}
@media all and(max-width:768px) {
	.nav-container {
		.nav-links {
			display: none;
			background: $primary;
			position: fixed;
			height: 100vh;
			width: 0vw;
			top: 0;
			left: 0;
			overflow: hidden;
			z-index: 9;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			transition: 400ms;
			li {
				margin: 30px 0px;
			}
		}
	}

	.burger {
		z-index: 15;
		display: block;
	}
	.artworks-container {
		width: 100%;
		grid-template-columns: repeat(1, 1fr);
	}

	.show-artwork .show-body {
		flex-direction: column;
	}
	.show-artwork .show-body .show-author {
		flex-direction: row;
		align-items: center;
	}

	.dashboard {
		flex-direction: column;

		.user-card {
			width: 90%;
			margin: 0 auto;
		}

		.user-artworks {
			width: 100%;
		}
		.card {
			width: 90%;
		}
	}
}
