<%- include("../partials/header") %>



<div class="form-container">
    <% if(error && error.length > 0){ %>
        <div class="error">
            <i class="far fa-times-circle"></i>
            <strong>Error!</strong>
            <%=error%>
        </div>
    <% } %>
    <form action="/user/register" method="post">
        <div>
            <label for="userName">Username</label>
            <input type="text" name="userName" id="userName" required=true>
        </div>
        <div>
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" id="firstName" required=true>
        </div>
        <div>
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" id="lastName" required=true>
        </div>
        <div>
            <label for="avatar">Picture</label>
            <input type="url" name="avatar" id="avatar">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required=true>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required=true>
        </div>
        <button class="slide"><a>Register</a></button>
    </form>
</div>
<%- include("../partials/footer") %>

